
{% block html %} 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICT Digital Careers</title>

    <!-- Bootstrap Core CSS -->
   {% stylesheets output = 'css/*.css' '@AcmeDemoBundle/Resources/public/css/bootstrap.min.css'
     filter='cssrewrite' %}
    <link type="text/css" media="screen" rel="stylesheet" href="{{ asset_url }}">
	 {% endstylesheets %}

    <!-- Custom CSS -->
	{% stylesheets output = 'css/*.css' '@AcmeDemoBundle/Resources/public/css/modern-business.css'
     filter='cssrewrite' %}
    <link type="text/css" media="screen" rel="stylesheet" href="{{ asset_url }}">
	 {% endstylesheets %}
    
    <!-- Custom Fonts -->
		{% stylesheets output = 'css/*.css' '@AcmeDemoBundle/Resources/public/css/font-awesome.min.css'
     filter='cssrewrite' %}
    <link type="text/css" media="screen" rel="stylesheet" href="{{ asset_url }}">
	 {% endstylesheets %}
    
	{% javascripts '@AcmeDemoBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
	
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index', {'slug' : 'index'}) }}">ICT Student Engagement</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('index', {'slug' : 'index'}) }}">Home</a>
                    </li>
					 <li>
                        <a href="{{ path('about', {'slug' : 'about'}) }}">About</a>
                    </li>
                    <li>
                        <a href="{{ path('parent', {'slug' : 'parent'}) }}">Parent</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher', {'slug' : 'teacher'}) }}">Teacher</a>
                    </li>
					 <li>
                        <a href="{{ path('advisor', {'slug' : 'advisor'}) }}">Career Advisor</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('testimonial', {'slug' : 'testimonial'}) }}">Testimonial</a>
                            </li>
                            <li>
                                
                        </ul>
                    </li>
            <!--       <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>  -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url(/bundles/acmedemo/images/fill-01.jpg);"></div>
                <div class="carousel-caption">
                    <h2><a href="http://www.digital.vic.gov.au/strategies/ict-strategy/">ICT Strategy</a></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(/bundles/acmedemo/images/fill-02.jpg);"></div>
                <div class="carousel-caption">
                 <a href="http://australia.gov.au/topics/employment-and-workplace/australian-government-jobs/ict-entry-level-programs"> <h2>ICT Programs</h2> </a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(/bundles/acmedemo/images/fill-03.jpg);"></div>
                <div class="carousel-caption">
                   <a href="http://www.graduateopportunities.com/employers/australian-govt-ict/"> <h2>ICT Internships</h2></a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:#FF00FF">
                    Victoria Digital Careers
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:#009900"><i class="fa fa-fw fa-check"></i> Unlock Doors</h4>
                    </div>
                    <div class="panel-body">
                        <p>With 25 billion devices connected to the internet, just about everything depends on technology. From transport to law, few careers in Australia enjoy so many real world applications and few open as many doors as Information technology.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:#009900"><i class="fa fa-fw fa-gift"></i> Do Good</h4>
                    </div>
                    <div class="panel-body">
                        <p>With technology you can make a world of difference in your careers in Australia – reducing energy consumption, improving health care, enhancing security, reducing pollution and advancing learning and education.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="color:#009900"><i class="fa fa-fw fa-compass"></i> Be Connected</h4>
                    </div>
                    <div class="panel-body">
                        <p>Information technology connects you to a world of smart, creative people who share a passion for new ideas, new inventions and new solutions that impact our lives, our nation and our world. 
						
						</p>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="color:#FF00FF">ICT Education and Career</h2>
            </div>
            <div class="col-md-4 col-sm-6">
               
				<img class="img-responsive img-portfolio img-hover" src="/bundles/acmedemo/images/pic-01.jpg" alt="">
                    
                
            </div>
            <div class="col-md-4 col-sm-6">
             <img class="img-responsive img-portfolio img-hover" src="/bundles/acmedemo/images/pic-02.jpg" alt=""> 
                   
               
            </div>
			
			<div class="col-md-4 col-sm-6">
			<img class="img-responsive img-portfolio img-hover" src="/bundles/acmedemo/images/pic-04.jpg" alt=""> 
       
                    
             
            </div>
			
        <!--    <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="image/pic-03.jpg" alt="">
                </a>
            </div>
            
          <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div> -->
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="color:#FF00FF">About Digital Careers</h2>
            </div>
            <div class="col-md-6">
                <p style="color:#009900">Digital Careers is a collaborative national initiative of industry, research, primary, secondary, and tertiary institutions (universities and TAFE), and government focused on reducing the critical shortage of Australian ICT professionals by raising awareness and interest in ICT careers, and growing and diversifying the pool of tertiary students preparing for a career in the ICT industry.  Digital Careers focuses on primary and secondary school students, parents, teachers and school based career advisors. Funding is provided through the Australian Government as represented by the Department of Communications, NICTA, Universities, Industry and State Governments.</p>
               
                
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/bundles/acmedemo/images/digital-01.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>UpComing Events</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Back to Top</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
	<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery-1.11.0.js') }}"></script>
    
    <!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/bootstrap.min.js') }}"></script>
    
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
{% endblock %}
